################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BeOpen.iiko.Front.Temperature/v16/TestStore/0
/bin/Debug
/lib/Resto.Front.Api.V6.dll
/obj/Debug
/.vs/BeOpen.iiko.Front.Temperature/v16
/obj/Release
